
// Body
$body-bg: #ececec;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
// Editado color texto
$body-color: #111111;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #000dca;
$secondary: #044a4d;
$success: #059117;
$info: #079fb9;
$warning: #9b8c04;
$danger: #960f0a;
$light: #bdbebe;
$dark: #1e1e1f;

